@import "tailwindcss";


/* button{
    margin:20px auto;
    padding: 12px 16px;
    border-radius: 10px;
    background-color: plum;
    display: block;
    transition: all;
    transition-duration: 0.2s;
    transform-origin: center
   
}

button:active{
    transform: scale(0.90);
    background-color: rgb(188, 119, 188);
    font-size: 24px;
    color:white;
  
} */